*{
    margin: 0px;
    padding: 0px;
    margin-right: 0%;
    margin-left: 0%;
}
.nav{
    background-image: url(wood.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 936px;
    width: 100%;
}
.div1{
    background-color: rgba(0,0,0,0.8);
    height: 890px;
    width: 810px;
    margin-left: 350px;
    border-radius: 30px;
    color: white;
    font-size: 60px;
    text-align: center;
        font-family: "Satisfy", serif;
        font-weight: 400;
        font-style: normal;
}
.div2{
    
    height: 890px;
    width: 189px;
    background-repeat: no-repeat;
    margin: -100000000px 50px 0px 980px;
    border-radius: 30px;
    margin-top: -7900px;
    margin-bottom: 60px;
}
.reservation, .testimonials {
    text-align: center;
    padding: 20px;
    margin-top: 0%;
    background-color:#e2baa3;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    font-family:"Satisfy", serif;
    margin-top: 0px; 
    margin-bottom: 0px;
}
.reservation{
    margin-top: -19px;
}
.map {
    text-align: center;
    margin-top: 20px;
}
footer {
    background-color:#6b3a1f;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
}
.ri{
    background-color: #6b3a1f;
    width: 100%;
    height: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.reservation-new {
  background-color: #e2baa3;
  text-align: center;
  padding: 50px 20px;
  font-family: "Satisfy", serif;
}

.reserve-form {
  max-width: 400px;
  margin: auto;
}

.reserve-form input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 6px;
  border: none;
}

.reserve-form button {
  background-color: #6b3a1f;
  color: white;
  padding: 12px;
  border: none;
  width: 100%;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.reserve-form button:hover {
  background-color: #4b2613;
}


.location-new {
  background-color: #6b3a1f;
  color: white;
  text-align: center;
  padding: 20px;
}

.location-new iframe {
  width: 90%;
  height: 250px;
  border-radius: 10px;
  margin-top: 10px;
}


.reviews-new {
  background-color: #e2baa3;
  padding: 50px 20px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.review-box {
  background-color: white;
  padding: 20px;
  margin: 15px auto;
  width: 60%;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
}

.review-box span {
  font-weight: bold;
  color: #6b3a1f;
}


.footer-new {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 15px;
}
